<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>vue-test</title>
</head>

<body>
  [[message]]

  <div id="app">
    <input type="text" v-model="message" />
    <div>
      {{ message }}
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="/js/index.js"></script>
<!-- 如果兼容 module -->
<script type='module'>
  import("/js/data.js").then(response => {
    console.log(response)
  });
</script>
<!-- 如果不兼容 module -->
<script nomodule src="https://cdn.staticfile.org/systemjs/6.10.2/system.js"></script>
<script nomodule>
  System.import("/js/data_bundle.js").then(response => {
    console.log(response)
  });
</script>
</html>